:root {
  --main-bg-color: radial-gradient(circle at 30% 20%, #1F2A44, #0B0E1A);
  color-scheme: light dark;
  --text-color:#fff;
  --btn-bg-color: rgb(55, 55, 55);
  --btn-text-color: white;
  --btn-border-color: rgb(19, 19, 61);
  --card-bg-color: rgba(255, 255, 255, 0.06);
  --card-border-color:rgba(255, 255, 255, 0.1);
}
body{
  background-image: var(--main-bg-color);
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;     
  background-attachment: fixed;
  color: var(--text-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: inherit;
}

@media(prefers-color-scheme: light){
 :root{
    --main-bg-color: radial-gradient(circle at 30% 20%, #FFF5EB, #d2a273d5);
    --text-color: #000;
    --btn-bg-color: rgb(51, 0, 152);
    --btn-text-color: rgb(139, 255, 251);
    --btn-border-color: rgb(217, 192, 156);
    --card-bg-color: rgba(255, 255, 255, 0.55);
    --card-border-color:rgba(10, 10, 10, 0.185);
 }
}
@media(prefers-color-scheme: light){
 :root{
  --main-bg-color: radial-gradient(circle at 30% 20%, #1F2A44, #0B0E1A);
  --text-color:#fff;
  --btn-bg-color: rgb(55, 55, 55);
  --btn-text-color: white;
  --btn-border-color: rgb(19, 19, 61);
  --card-bg-color:rgba(255, 255, 255, 0.06);
  --card-border-color:rgba(255, 255, 255, 0.1);
 }
}